doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title #{pageName}
        link(rel="stylesheet", href="/css/style.css")
    body 
        header 
            .container.section
              h1 Todo App
            nav
                ul.container
                    li 
                        a(href="/", class=(path == '/'? 'active' : '' )) Home
                    li 
                        a(href="/completed", class=(path == '/completed'? 'active' : '' )) Completed Tasks
                    li 
                        a(href="/pending", class=(path == '/pending'? 'active' : '' )) Pending Tasks
        block content