extends layouts/default.pug

block content
    section.container 
        form.new_task-form(action=(task?"/task/"+task.id:"/create"), method="post") 
            .form-container 
                label Task 
                input(type="text" name="task" value=(task ? task.title:''))
            .form-container 
                input(type="submit" value=(task?"Update Task":"Add Task") class="btn info")
    section.container
        h3 All Tasks 
        ul.task_item-list 
            - var i = 0;
            for t in tasks
                li.task_item 
                    span.task_item-sn #{++i}
                    .task_item-title(class=(t.completed?'strike':'')) #{t.title}
                    .task_item-buttons
                        if !t.completed
                            a.btn.info(href=("/task/"+t.id)) Edit 
                        a.btn(href="/toggle-status/"+t.id class=(t.completed?'info':'success')) #{t.completed ? 'Undo' :'Done'}